/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**** GENERIC STYLES ****/

html, body {
  font-family: 'Work Sans', sans-serif;
  color: #666;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff9f4;
  word-break: keep-all;
}

h3, h4, h5, h6, .reportcontainer h1, .reportcontainer h2 {
  padding-top: 2em;
  padding-bottom: 0px;
  margin-left: -20px;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: -0.01em;
  /*text-transform: uppercase;*/
}

h3 {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.01em;
}

h4 {
  font-weight: 200;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-left: inherit;
}

h6 {
  font-weight: 200;
  letter-spacing: -0.01em;
  margin-left: inherit;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  outline: 0;
}

/**** MAIN NAVIGATION ****/

/* REVIEW: consider removing mainheader class and using only `header` */
.mainheader {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 20px;
  box-shadow: 0 1px 12px -3px rgba(0,0,0,0.3);
  background-color: #fff9f4;
  border-bottom: 1px #ddd;
}

.mainheader h1 {
  display: inline-block;
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.mainheader .logomark {
  /*background-image: url(../images/Logomark.png);*/
  width: 15px;
  padding: 5px;
  display: inline;
  margin: 0px 5px;
}

.mainheader ul {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.nav li {
  display: inline;
  padding-right: 12px;
}

#menu-toggler {
  display: none;
}

/*
When defining pseudo-behaviors for link the rulesets need to come in this order ("love hate")
  a:link - a basic link
  a:visited - a previously visited page
  a:hover - a mouse over the link
  a:active - a currently clicked link
*/

.mainheader a {
  color: #666;
  font-size: 11px;
  text-transform: uppercase;
}

.mainheader a:hover {
  color: #ff9933;
  transition: color .2s linear;
  text-decoration: none;
}

.mainheader a:active {
  color: #ff9933;
}

.mainheader a.current-page {
  color: #ff9933;
  }

.mainheader a.donate {
  float: right;
  margin: 0;
  padding: 5px;
  color: #fff9f4;
  background-color: #ff9933;
}

/**** END MAIN NAVIGATION ****/



/**** TITLE BANNER ****/

.titlebanner {
  min-height: 600px;
  /* Make a concession for the fixed position header above (~52px high) */
  padding: 52px 130px 0px 550px;
  font-size: 40px;
  letter-spacing: -0.03em;
  background-image: url("../images/gun-on-ground-gray2.jpg");
  color: #fff9f4;
  text-transform: capitalize;
  text-align: right;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.titlebanner h1 {
  font-weight: 600;
}

.titlebanner-subhead {
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  padding-top: 0px;
}

/**** END TITLE BANNER ****/

/**** REPORT BODY ****/

.reportcontainer {
  padding: 40px 100px 40px 250px;
}

.reportcontainer h1 {
  font-size: 2em;
  text-transform: lowercase;
  text-transform: capitalize;
}

.reportcontainer p {
  font-family: Georgia, serif;
  line-height: 1.5em;
  letter-spacing: -0.01em;
  font-size: 1.2em;
  padding-right: 380px;
  margin-bottom: 10px;
}

.reportcontainer .introtext {
  color: #666;
  font-size: 1.4em;
  font-weight: 700;
}

.reportcontainer blockquote {
  margin: 0;
  padding: 60px;
  font-size: 3.5em;
  letter-spacing: -0.045em;
  text-align: right;
  color: #ff9933;
}

.inner-image blockquote {
  font-size: 1.5em;
  color: #fff9f4;
}

.reportcontainer ul { 
  margin: 0px 60px; 
  padding: 30px; 
  line-height: 1.5em;
}

.reportcontainer li {
  margin-bottom: 10px;
 /* margin-right: 50px;*/
 max-width: 87%;
}

/**** END REPORT BODY ****/

/**** GRAPHICS ****/

.graphic-container {
  font-size: 1em;
  letter-spacing: -0.045em;
  z-index: 1;
  padding: 50px;
  margin: 40px 40px;
  /*position: relative;
  display: block;*/
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bar-chart {
  display: table;
  table-layout: fixed;
  width: 90%;
  max-width: 600px;
  height: 200px;
  margin: 0 auto;
  /*background-image: linear-gradient(red);
  background-size: 100% 50px;
  background-position: left top;*/
}
.bar-chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.bar-chart span {
  margin: 0 1em;
  display: block;
  background: #666;
  animation: draw 1.3s ease-in-out;
}

.bar-chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  content: attr(title);
}

@keyframes draw {
  0% {
    height: 0;
  }
}

.image-container {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  z-index: 2;
}

/**** END GRAPHICS ****/

/**** BOTTOM PAGE CHAPTER NAVIGATION****/
.chapternav-container {
  margin: 2em;
  text-align: center;
}

.bottompage_chapternav {
  padding: 8px;
  background-color: #ff9933;
  color: #fff9f4;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
}

a.bottompage_chapternav:hover {
  background-color: #ffefe2;
  transition: background-color .2s linear;
}

a.bottompage_chapternav:active {
  color: #ff9933;
  text-decoration: none;
}

/**** END BOTTOM PAGE CHAPTER NAVIGATION****/

/**** FOOTER ****/

footer {
  padding: 20px;
  font-size: 0.8em;
  background-color: #666;
  color: #bcbcbc;
}

.footer-url {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-size: 1.1em;
  font-weight: 200;
}

footer .heading {
  font-weight: 400;
  text-transform: uppercase;
}

footer p {
  margin-right: 5px;
}

footer .prompts {
  display: inline-block;
}

footer a:hover {
  color: #ff9933;
  /*text-decoration: underline;*/
  /*transition: color .2s linear;*/
}

footer a:active {
  color: #ff9933;
}

/**** END FOOTER ****/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 1150px) {
  .titlebanner, .titlebanner-subhead {
    margin: 0px;
    padding: 60px 40px 0px 50px;
    text-align: left;
  }
  .titlebanner-subhead {
    padding: 0px;
  }
  .reportcontainer {
    padding: 40px 100px 80px 40px;
  }
  .reportcontainer p{
    padding-right: 160px;
  }
  .reportcontainer blockquote {
    padding-bottom: 65px;
  }
  .graphic-container{
    width: 50%
  }
}

@media screen and (max-width: 750px) {
  .mainheader h1 {
    display: none;
  }
  .nav li{
    display: none;
  }
  #menu-toggler {
    display: inline;
  }
  .titlebanner, .titlebanner-subhead {
    margin: 0px;
    padding: 60px 40px 0px 50px;
    text-align: left;
    font-size: 2em;
  }
  .titlebanner-subhead {
    padding: 0px;
    font-size: 1em;
  }
  .reportcontainer p{
    padding: 8px 16px;
  }
  .reportcontainer blockquote {
    padding: 30px 0px 60px 0px;
    font-size: 2.5em;
  }
  .graphic-container{
    width: 100%;
    margin: 0px;
    padding: 3px;
  }
  .bar-chart span {
    margin: 0 0.3em;
  }
  footer .prompts {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  h2, h3, h4, h5, h6, .reportcontainer h1, .reportcontainer h2 {
    padding-top: 1.4em;
    padding-bottom: 3px;
    margin-left: 3px;
  }
  .titlebanner h1, .titlebanner-subhead {
    padding: 60px 10px 0px 10px;
    text-align: center;
    font-size: 1.3em;
  }
  .titlebanner-subhead {
    padding-top: 0px;
    /*padding-left: 40px;*/
    font-size: 0.7em;
  }
  .reportcontainer {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
  }
  .reportcontainer p{
    font-size: 1.1em;
    padding: 3px;
  }
  .reportcontainer blockquote {
    font-size: 2em;
    text-align: right;
    font-weight: 400;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
}

/*** END MEDIA QUERIES ***/
